In [19]:
import pandas as pd

1. ID를 기준으로 리뷰수가 20개 초과인 곳만 추출
2. 망고플레이트 데이터에서 중복 제거
3. 텍스트 전처리
4. ID별 데이터 프레임 만들기(함수사용) globals()[f'[변수명]']
5. ID별 워드클라우드 만들기(함수)

In [202]:
data = pd.read_csv('./data/망고플레이트전국댓글.csv')

In [203]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658251 entries, 0 to 658250
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   리뷰내용    657292 non-null  object
 1   작성자명    657680 non-null  object
 2   후기점수    658251 non-null  object
 3   url     658251 non-null  object
 4   ID      658251 non-null  object
dtypes: object(5)
memory usage: 25.1+ MB

In [204]:
data.drop('url', axis=1, inplace=True)
data.drop('작성자명', axis=1, inplace=True)

In [205]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 658251 entries, 0 to 658250
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   리뷰내용    657292 non-null  object
 1   후기점수    658251 non-null  object
 2   ID      658251 non-null  object
dtypes: object(3)
memory usage: 15.1+ MB

* 1. ID를 기준으로 리뷰수가 20개 초과인 곳만 추출

In [206]:
data['리뷰내용_글자수'] = data['리뷰내용'].str.len()

In [207]:
data[data['리뷰내용_글자수'] >= 20]

,리뷰내용,후기점수,ID,리뷰내용_글자수
3,언제와도 맛있는 미라이!!!고등어산도는 무조건 시켜야하구요.. (식빵 뭔지 궁금) ...,맛있다,iMRRP69qtkeO,263.0
4,"아와이 야끼소바,사바산도,우니 아마에비 호다테먹었어요.나마비루도 함께^^나마비루 부...",맛있다,iMRRP69qtkeO,129.0
5,- 음식리뷰 -전복내장 야끼소바 : 깔끔하게 고소하고 감칠맛이 좋음. 아주 맛있다....,맛있다,iMRRP69qtkeO,381.0
6,고급 일식 요리신사동 가로수길에서는 좀 거리가 있어 변화가에서는 멀다. 하지만 네이...,맛있다,iMRRP69qtkeO,453.0
7,너무나 먹고싶었던 사바산도를 드디어!! 7시타임까지는 예약이 된다는걸 몰랐는데 1차...,맛있다,iMRRP69qtkeO,888.0
...,...,...,...,...
658246,짜고..달고..짬뽕전문점이래서 믿고갔드니만,별로,2xEW0lARGv,23.0
658247,서비스도 나쁘지 않고 일단 고기 맛이 좋아서 다시 가고 싶은 곳이예요. 다른 ...,맛있다,qJfguC-XoNK_,108.0
658248,"먼길을 찾아서 갈만한 맛집인지는 모르겠지만, 동네에 이런 집이 있었으면 한다. 밀면...",맛있다,rXhoe55y323s,70.0
658249,"착한 가격 분식집 : 보리밥,칼국수허름한 가정집에서 보리밥에 된장 비벼 김치 하나와...",괜찮다,dj7Azd0jH7,57.0
658250,"회는 잘 모르겠지만, 음식 깔끔하고 특히 매운탕은 먹어본 중에 최고다.",맛있다,XGnBYklKwi,39.0

In [208]:
review20over = data[data['리뷰내용_글자수'] >= 20]

In [209]:
review20over.info()

<class 'pandas.core.frame.DataFrame'>
Index: 606697 entries, 3 to 658250
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   리뷰내용      606697 non-null  object
 1   후기점수      606697 non-null  object
 2   ID        606697 non-null  object
 3   리뷰내용_글자수  606697 non-null  float64
dtypes: float64(1), object(3)
memory usage: 23.1+ MB

In [231]:
review20over

,리뷰내용,후기점수,ID,리뷰내용_글자수
3,언제와도 맛있는 미라이!!!고등어산도는 무조건 시켜야하구요.. (식빵 뭔지 궁금) ...,맛있다,iMRRP69qtkeO,263.0
4,"아와이 야끼소바,사바산도,우니 아마에비 호다테먹었어요.나마비루도 함께^^나마비루 부...",맛있다,iMRRP69qtkeO,129.0
5,- 음식리뷰 -전복내장 야끼소바 : 깔끔하게 고소하고 감칠맛이 좋음. 아주 맛있다....,맛있다,iMRRP69qtkeO,381.0
6,고급 일식 요리신사동 가로수길에서는 좀 거리가 있어 변화가에서는 멀다. 하지만 네이...,맛있다,iMRRP69qtkeO,453.0
7,너무나 먹고싶었던 사바산도를 드디어!! 7시타임까지는 예약이 된다는걸 몰랐는데 1차...,맛있다,iMRRP69qtkeO,888.0
...,...,...,...,...
658246,짜고..달고..짬뽕전문점이래서 믿고갔드니만,별로,2xEW0lARGv,23.0
658247,서비스도 나쁘지 않고 일단 고기 맛이 좋아서 다시 가고 싶은 곳이예요. 다른 ...,맛있다,qJfguC-XoNK_,108.0
658248,"먼길을 찾아서 갈만한 맛집인지는 모르겠지만, 동네에 이런 집이 있었으면 한다. 밀면...",맛있다,rXhoe55y323s,70.0
658249,"착한 가격 분식집 : 보리밥,칼국수허름한 가정집에서 보리밥에 된장 비벼 김치 하나와...",괜찮다,dj7Azd0jH7,57.0
658250,"회는 잘 모르겠지만, 음식 깔끔하고 특히 매운탕은 먹어본 중에 최고다.",맛있다,XGnBYklKwi,39.0

* 2. 망고플레이트 데이터에서 중복 제거

In [230]:
data2.isna().sum()

리뷰내용        0
후기점수        0
ID          0
리뷰내용_글자수    0
dtype: int64

In [90]:
data = data.drop_duplicates()

In [91]:
data.isna().sum()

리뷰내용        403
작성자명         38
후기점수          0
url           0
ID            0
리뷰내용_글자수    403
dtype: int64

In [92]:
data['리뷰내용'] = data['리뷰내용'].fillna('')
data['작성자명'] = data['작성자명'].fillna('')

In [93]:
data.isna().sum()

리뷰내용          0
작성자명          0
후기점수          0
url           0
ID            0
리뷰내용_글자수    403
dtype: int64

* 이상값 찾기

In [94]:
data.describe()

           리뷰내용_글자수
count  94526.000000
mean     297.006866
std      346.625019
min        1.000000
25%       86.000000
50%      201.000000
75%      381.000000
max     7879.000000

# 텍스트 전처리

In [224]:
review20over['리뷰내용']

3         언제와도 맛있는 미라이!!!고등어산도는 무조건 시켜야하구요.. (식빵 뭔지 궁금) ...
4         아와이 야끼소바,사바산도,우니 아마에비 호다테먹었어요.나마비루도 함께^^나마비루 부...
5         - 음식리뷰 -전복내장 야끼소바 : 깔끔하게 고소하고 감칠맛이 좋음. 아주 맛있다....
6         고급 일식 요리신사동 가로수길에서는 좀 거리가 있어 변화가에서는 멀다. 하지만 네이...
7         너무나 먹고싶었던 사바산도를 드디어!! 7시타임까지는 예약이 된다는걸 몰랐는데 1차...
                                ...
658246                              짜고..달고..짬뽕전문점이래서 믿고갔드니만
658247    서비스도 나쁘지 않고 일단 고기 맛이  좋아서  다시 가고 싶은 곳이예요.  다른 ...
658248    먼길을 찾아서 갈만한 맛집인지는 모르겠지만, 동네에 이런 집이 있었으면 한다. 밀면...
658249    착한 가격 분식집 : 보리밥,칼국수허름한 가정집에서 보리밥에 된장 비벼 김치 하나와...
658250              회는 잘 모르겠지만, 음식 깔끔하고 특히 매운탕은 먹어본 중에 최고다.
Name: 리뷰내용, Length: 606697, dtype: object

In [238]:
txt = []
for i in review20over['리뷰내용']:
    review_txt = i.replace(',',' ').replace('/',' ').replace(':',' ').replace('-',' ').replace('!',' ').replace('.',' ').replace(')',' ').replace('(',' ').replace('~',' ').replace('ㅎ',' ').replace('♡','').replace('+',' ').replace('   ',' ').replace('  ',' ').strip()
    txt.append(review_txt)

In [250]:
review20over['리뷰내용'] = pd.DataFrame(txt)

C:\Users\hi\AppData\Local\Temp\ipykernel_12544\491029738.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  review20over['리뷰내용'] = pd.DataFrame(txt)

In [251]:
review20over = review20over.dropna()

In [254]:
review20over = review20over.drop_duplicates()

In [259]:
df = review20over

In [269]:
df

,리뷰내용,후기점수,ID,리뷰내용_글자수
3,고급 일식 요리신사동 가로수길에서는 좀 거리가 있어 변화가에서는 멀다 하지만 네이버...,맛있다,iMRRP69qtkeO,263.0
4,너무나 먹고싶었던 사바산도를 드디어 7시타임까지는 예약이 된다는걸 몰랐는데 1차로 ...,맛있다,iMRRP69qtkeO,129.0
5,세상에서 제일 맛있는 곳을 꼽으라고 하면 미라이 미리 예약해서 바자리에 앉아서 여유...,맛있다,iMRRP69qtkeO,381.0
6,6시 6시반 7시 타임 예약을 받는 미라이 ㅠㅠ 7시반에 가면서 불안했는데 다행히 ...,맛있다,iMRRP69qtkeO,453.0
7,언제와도 맛있는 미라이 고등어산도는 무조건 시켜야하구요 식빵 뭔지 궁금 고등어랑 감...,맛있다,iMRRP69qtkeO,888.0
...,...,...,...,...
606692,짜고 달고 짬뽕전문점이래서 믿고갔드니만,맛있다,sRFQZbq3nK1c,249.0
606693,서비스도 나쁘지 않고 일단 고기 맛이 좋아서 다시 가고 싶은 곳이예요 다른 가게 보...,괜찮다,sRFQZbq3nK1c,522.0
606694,먼길을 찾아서 갈만한 맛집인지는 모르겠지만 동네에 이런 집이 있었으면 한다 밀면도 ...,별로,sRFQZbq3nK1c,74.0
606695,착한 가격 분식집 보리밥 칼국수허름한 가정집에서 보리밥에 된장 비벼 김치 하나와 한...,맛있다,sRFQZbq3nK1c,38.0
606696,회는 잘 모르겠지만 음식 깔끔하고 특히 매운탕은 먹어본 중에 최고다,맛있다,sRFQZbq3nK1c,464.0

* ID별 데이터 프레임 만들기(함수사용) globals()[f'[변수명]']

In [265]:
def glob(df):
    for unique_id in df['ID'].unique():
        globals()[f'df_{unique_id}'] = df[df['ID'] == unique_id]

In [266]:
glob(df)

In [286]:
print(df_iMRRP69qtkeO)

                                                   리뷰내용 후기점수            ID  \
3     고급 일식 요리신사동 가로수길에서는 좀 거리가 있어 변화가에서는 멀다 하지만 네이버...  맛있다  iMRRP69qtkeO
4     너무나 먹고싶었던 사바산도를 드디어 7시타임까지는 예약이 된다는걸 몰랐는데 1차로 ...  맛있다  iMRRP69qtkeO
5     세상에서 제일 맛있는 곳을 꼽으라고 하면 미라이 미리 예약해서 바자리에 앉아서 여유...  맛있다  iMRRP69qtkeO
6     6시 6시반 7시 타임 예약을 받는 미라이 ㅠㅠ 7시반에 가면서 불안했는데 다행히 ...  맛있다  iMRRP69qtkeO
7     언제와도 맛있는 미라이 고등어산도는 무조건 시켜야하구요 식빵 뭔지 궁금 고등어랑 감...  맛있다  iMRRP69qtkeO
...                                                 ...  ...           ...
1369  런치 오마카세밋업으로 다녀온 세이류 런치 정말 런치코스인데 양도 엄청나고 왜 가성비...  맛있다  iMRRP69qtkeO
1370  둘기의 오마카세 도장깨기 3 "오마카세의 진수를 느끼고 오다 " 갑자기 불붙은 오마...  맛있다  iMRRP69qtkeO
1371  4 5 5요약 공간은 작지만 편안하고 따뜻한 분위기에서 즐기는 행복의 오마카세 심지...  맛있다  iMRRP69qtkeO
1372  며칠 전인가 최은창님의 리뷰에서 정말 다양한 스시를 내어주시면서 남들은 15 20만...  맛있다  iMRRP69qtkeO
1373  잠실의 스시 오마카세 새로운 별이 뜨다 무라사키도 전의 플라자호텔 일식당에 있었던 ...  맛있다  iMRRP69qtkeO

      리뷰내용_글자수
3        263.0
4        129.0
5        381.0
6        453.0
7        888.0
...        ...
1369     121.0
1370      29.0
1371      58.0
1372      30.0
1373     138.0

[1147 rows x 4 columns]

* ID별 워드클라우드 만들기(함수)

In [291]:
def wordcloud_by_id(df):
    concatenated_reviews = glob(df)
    
    for unique_id, reviews_text in concatenated_reviews.items():
        wordcloud = WordCloud(width=800, height=400, background_color='white').generate(reviews_text)

        plt.figure(figsize=(10, 5))
        plt.imshow(wordcloud, interpolation='bilinear')
        plt.axis('off')
        plt.title(f'Word Cloud for ID {unique_id}')
        plt.show()

wordcloud_by_id(df)

AttributeError: 'NoneType' object has no attribute 'items'