In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/부동산실거래가2008-2003.csv')

In [3]:
data.head(2)

                  시군구    단지명  전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0  강원특별자치도 양구군 양구읍 상리     경림    59.40  200509      5000  11  1998
1        경기도 의정부시 민락동  한라비발디    84.99  200510     12750  19  2003

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9591228 entries, 0 to 9591227
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   계약년월      int64
 4   거래금액(만원)  int64
 5   층         int64
 6   건축년도      int64
dtypes: float64(1), int64(4), object(2)
memory usage: 512.2+ MB

In [5]:
data = data.drop(['시군구','단지명'], axis = 1)

In [6]:
data.head()

   전용면적(㎡)    계약년월  거래금액(만원)   층  건축년도
0   59.400  200509      5000  11  1998
1   84.990  200510     12750  19  2003
2   59.878  200510      5750   3  1997
3   49.830  200510      5500   8  1998
4  129.730  200511     12200  11  1992

In [7]:
X = data.drop("거래금액(만원)", axis=1)
y = data["거래금액(만원)"]

In [8]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
X_scale = rs.fit_transform(X)

In [9]:
X_scale = pd.DataFrame(X_scale, )

In [10]:
X_scale

                0         1         2         3
0       -0.575108 -1.101996  0.333333 -0.166667
1        0.431184 -1.100887  1.222222  0.250000
2       -0.556311 -1.100887 -0.555556 -0.250000
3       -0.951435 -1.100887  0.000000 -0.166667
4        2.190523 -1.099778  0.333333 -0.666667
...           ...       ...       ...       ...
9591223  0.430004  0.892461 -0.666667 -0.500000
9591224  0.418993  0.892461 -0.555556  0.166667
9591225  0.429611  0.892461  0.333333  1.583333
9591226  1.016319  0.892461  0.555556  1.583333
9591227  1.013567  0.892461 -0.555556  1.583333

[9591228 rows x 4 columns]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scale, y, test_size=0.6, random_state=10)
X_valid, X_test, y_valid, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=10)

In [12]:
len(X_train)

3836491

In [13]:
len(X_valid)

2877368

In [14]:
len(X_test)

2877369

In [15]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
dtr = DecisionTreeRegressor()
dtr.fit(X_train, y_train)
pred = dtr.predict(X_valid)
print(mean_squared_error(y_valid, pred))
print(r2_score(y_valid, pred))

302351803.0714008
0.5422136858886477

In [26]:
pwd

'c:\\bigdata'

In [16]:
# 변수/모델에 저장되어 있는 데이터를 파일로 만들어 주는 라이브러리
import joblib

In [19]:
joblib.dump(dtr, './apart_model2.model')

['./apart_model2.model']

In [25]:
pd.DataFrame(y_valid, pred)

         거래금액(만원)
22250.0   12500.0
2610.0        NaN
85500.0       NaN
13900.0       NaN
21100.0   13800.0
...           ...
59000.0       NaN
32000.0       NaN
13750.0   10400.0
34500.0       NaN
18800.0       NaN

[2877368 rows x 1 columns]

In [21]:
import joblib
import pandas as pd
import numpy as np

In [22]:
model = joblib.load('./apart_model2.model')

In [35]:
from sklearn.preprocessing import RobustScaler
rc = RobustScaler() 
X = rc.fit_transform([[3653, 33110, 99.87, 202308, 13, 2019]])
X = pd.DataFrame(X)

In [36]:
X

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0

In [38]:
model.predict(X) #5750

ValueError: X has 6 features, but DecisionTreeRegressor is expecting 4 features as input.